<%= tag__page_header %>

<%= tag__article 'Garston Hops 45°28’9”S - Nejjižnější chmelnice na světě', '21/11/2024, Garston, Southland' do %>
    <%= tag__article__text_section do %>
        <h4>Opouštíme Cromwell</h4>
        <p>Vlastně stačí velmi málo, aby se člověk cítil jako doma. Asi vás napadne: teplá postel, gauč, koupelna, ... Když žijete v autě, najednou stačí ještě méně: nerezový dřez na mytí nádobí s tekoucí vodou a švábíci vylézající zpoza dřevěné desky, čistý veřejný záchod a jedno volné parkovací místo. To je hřejivá vzpomínka na Motueka, kde jsme měli dočasný domov. Ale v Cromwell sme měli domov opravdový. Teplá sprcha každý den. Pejsci, kteří nás vítali a vyžadovali pozornost, stejně jako my vyžadovali jejich. Domácí Murray se kterým jsme se téměř pokaždé zapovídali o tom, jaký kdo měl den - a nejen o tom. Pokoj jen pro nás, do kterého se občas zavřete, když chcete být sami, relaxovat. Vybavená kuchyň - a ta si vyloženě říkala o to, abychom ještě rychle upekli a uvařili to, co si zase někde venku na vařiči vedle vločky neuděláme. Takový domov se těžce opouští; jenže tady jsme všude jen na návštěvě, takže frčíme dál.</p>
    <% end %>
    <section class="row">
        <%= tag__image_in_row '/assets/241121_garston/20241015_113502.jpg', 'Zu & Vi, úžasní pudlí brácha a ségra, na které budeme už navždy vzpomínat.' %>
        <%= tag__image_in_row '/assets/241121_garston/20241016_144318.jpg', 'Co si uděláme, dokud můžem? Bramborový salát!' %>
        <%= tag__image_in_row '/assets/241121_garston/20241016_155143.jpg', 'A skořicové šneky! A kafe! Samozřejmě nesmí u všeho chybět Zeus jako vrchní kontrolor kvality.' %>
        <%= tag__image_in_row '/assets/241121_garston/20241016_175138.jpg', 'Ale teď už zase musíme vše nacpat do vločky.' %>
        <%= tag__image_in_row '/assets/241121_garston/20241016_193058.jpg', 'a vzhůru za dalším dobrodružstvím!' %>
        <%#= tag__image_in_row '/assets/241121_garston/.jpg', 'aa' %>
    </section>
    <%= tag__article__text_section className: 'mt-3' do %>
    <% end %>
<% end %>
